{% extends 'base.html' %}
{% block main %}
{% load static %}
    <section id="form" style="margin-left: 30%;">
        <!-- account-area-start -->
            <div class="container">

                <div class="row">
                    <div class="col-sm-4">
                        <div class="signup-form">
                            <h5 class="display-4">Forgot Password</h5>
                            <hr>

                            <form method="post">
                                {% csrf_token %}
                                {% for field in form %}
                                {{ field.errors }}
                                <label>{{field.label_tag}}</label>
                                <p>{{ field }}</p>
                                {% endfor %}
                                <button type="submit" class="btn btn-default">send confirmation link</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        
        <!-- account-area-end -->
    </section>

     

{% endblock %}
